*
{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container
{
    display: flex;
    flex-direction: column;
}
body
{
    background-color: #eeebe8;
}
.header
{
    display: flex;
    justify-content: space-evenly;
    /* border:2px solid black; */
    /* align-self: flex-start; */
}
section
{
    display: flex;
    justify-content: space-evenly;
    /* border:2px solid black;  */
    margin-top:50px;
    padding:10px 0;
}

.title
{
    align-self:center;
    /* flex-grow:2; */
}
.img img
{
    width:200px;
    height:auto;
}
.browsers ul
{
    list-style-type: none;
    font-size: large;
    color:rgba(106, 17, 189, 0.651);
    /* padding-top:10px; */
}
.sites .links a 
{
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    padding-top:10px;
    display: block;
}
.browsers ul li
{
    /* text-decoration: none; */
    font-size: large;
    /* cursor: pointer; */
    padding-top:10px;
    /* display: block; */
}
.sites  h1, .browsers h1
{
    /* text-decoration: none; */
    font-size: large;
    /* cursor: pointer; */
    padding-top:10px;
    display: block;
}